USE [BD_MONITOREOS]
GO
/****** Object:  UserDefinedTableType [dbo].[TT_RESPUESTAS_MONITOREO]    Script Date: 26/1/2026 10:40:40 ******/
CREATE TYPE [dbo].[TT_RESPUESTAS_MONITOREO] AS TABLE(
	[id_pregunta] [int] NOT NULL,
	[respuesta] [nvarchar](10) NOT NULL,
	CHECK (([respuesta]='NO_APLICA' OR [respuesta]='NO' OR [respuesta]='SI'))
)
GO
/****** Object:  UserDefinedTableType [dbo].[TT_RESPUESTAS_MONITOREO_V2]    Script Date: 26/1/2026 10:40:40 ******/
CREATE TYPE [dbo].[TT_RESPUESTAS_MONITOREO_V2] AS TABLE(
	[id_pregunta] [int] NOT NULL,
	[respuesta] [nvarchar](10) NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[id_pregunta] ASC
)WITH (IGNORE_DUP_KEY = OFF),
	CHECK (([respuesta]='NO_APLICA' OR [respuesta]='NO' OR [respuesta]='SI'))
)
GO
/****** Object:  Table [dbo].[AREAS]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREAS](
	[id_area] [int] IDENTITY(1,1) NOT NULL,
	[nombre_area] [nvarchar](100) NOT NULL,
	[estado] [bit] NULL,
	[fecha_activacion] [datetime2](0) NOT NULL,
	[fecha_fin] [datetime2](0) NULL,
	[id_cola] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREGUNTAS]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREGUNTAS](
	[id_pregunta] [int] IDENTITY(1,1) NOT NULL,
	[pregunta] [nvarchar](max) NOT NULL,
	[id_seccion] [int] NULL,
	[estado] [bit] NULL,
	[ASPECTO] [nvarchar](100) NULL,
	[TIPO] [nvarchar](100) NULL,
	[DIRECCION] [nvarchar](100) NULL,
	[descripcion] [nvarchar](max) NULL,
	[id_area] [int] NULL,
	[fecha_activacion] [datetime2](0) NOT NULL,
	[fecha_fin] [datetime2](0) NULL,
	[id_cola] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLAS]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLAS](
	[id_cola] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cola] [nvarchar](100) NULL,
	[id_area] [int] NULL,
	[tipo_cola] [nvarchar](50) NULL,
	[id_medio] [int] NULL,
	[fecha_activacion] [datetime2](0) NOT NULL,
	[fecha_fin] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cola] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECCIONES]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECCIONES](
	[id_seccion] [int] IDENTITY(1,1) NOT NULL,
	[nombre_seccion] [nvarchar](100) NOT NULL,
	[id_area] [int] NOT NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_seccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PONDERACION]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PONDERACION](
	[ID_PONDERACION] [int] IDENTITY(1,1) NOT NULL,
	[ID_COLA] [int] NULL,
	[ID_PREGUNTA] [int] NOT NULL,
	[GESTION] [nvarchar](50) NULL,
	[PESO] [decimal](5, 2) NULL,
	[ACTIVO] [bit] NULL,
	[FECHA_INICIO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PONDERACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_UnaPregunta_PorCola] UNIQUE NONCLUSTERED 
(
	[ID_COLA] ASC,
	[ID_PREGUNTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_PLANTILLA_DINAMICA]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_PLANTILLA_DINAMICA]
AS
SELECT 
    A.id_area, A.nombre_area AS ÁREA, C.id_cola, C.nombre_cola AS COLA, 
    S.nombre_seccion AS [ASPECTO (SECCIÓN)], P.id_pregunta, 
    -- Agregamos ID y SECCIÓN al texto para forzar que sea ÚNICO TOTAL
    (C.nombre_cola + ' - ' + S.nombre_seccion + ' - ' + CAST(P.id_pregunta AS VARCHAR) + ' - ' + P.pregunta) AS pregunta, 
    P.TIPO AS TIPO_DE_PREGUNTA, PON.GESTION AS GESTIÓN_TÉCNICA, 
    CAST(PON.PESO AS DECIMAL(5, 2)) AS PUNTOS_VALOR, 
    CASE WHEN P.TIPO = 'CRITICO' THEN 'Afecta Nota Total (0)' WHEN P.TIPO = 'NORMAL' THEN 'Resta puntos proporcionalmente' WHEN P.TIPO = 'IMPULSOR' THEN 'Métrica de Control (Bono)' ELSE 'Otros' END AS LÓGICA_CALIFICACIÓN,
    P.fecha_activacion AS VIGENTE_DESDE, P.fecha_fin AS VIGENTE_HASTA
FROM dbo.PREGUNTAS AS P 
INNER JOIN dbo.AREAS AS A ON P.id_area = A.id_area 
INNER JOIN dbo.SECCIONES AS S ON P.id_seccion = S.id_seccion 
INNER JOIN dbo.PONDERACION AS PON ON P.id_pregunta = PON.ID_PREGUNTA 
INNER JOIN dbo.COLAS AS C ON PON.ID_COLA = C.id_cola
WHERE (P.fecha_activacion <= GETDATE()) AND (P.fecha_fin IS NULL OR P.fecha_fin > GETDATE());
GO
/****** Object:  Table [dbo].[MONITOREO_ORIGEN]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONITOREO_ORIGEN](
	[id_origen] [int] IDENTITY(1,1) NOT NULL,
	[creado_por] [int] NOT NULL,
	[fecha_creacion] [datetime2](0) NOT NULL,
	[id_interaccion] [nvarchar](120) NULL,
	[numero_contrato] [nvarchar](60) NULL,
	[numero_contacto] [nvarchar](60) NULL,
	[medio_de_atencion] [nvarchar](200) NULL,
	[tipo_monitoreo] [nvarchar](30) NULL,
	[id_area] [int] NULL,
	[id_cola] [int] NULL,
	[id_medio] [int] NULL,
	[id_agente] [int] NULL,
	[link_evidencia] [nvarchar](500) NULL,
	[descripcion_final] [nvarchar](1000) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_origen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONITOREO_VERSION]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONITOREO_VERSION](
	[id_version] [int] IDENTITY(1,1) NOT NULL,
	[id_origen] [int] NOT NULL,
	[numero_version] [int] NOT NULL,
	[estado_version] [nvarchar](12) NOT NULL,
	[motivo_correccion] [nvarchar](500) NULL,
	[corregido_por] [int] NULL,
	[fecha_correccion] [datetime2](0) NULL,
	[hora_inicio] [datetime2](0) NOT NULL,
	[hora_fin] [datetime2](0) NOT NULL,
	[duracion_segundos] [int] NOT NULL,
	[fecha_interaccion] [date] NULL,
	[numero_contacto] [nvarchar](60) NULL,
	[numero_contrato] [nvarchar](60) NULL,
	[id_interaccion] [nvarchar](120) NULL,
	[gestor_monitoreo] [nvarchar](150) NULL,
	[agente_id_texto] [nvarchar](120) NULL,
	[motivo_wolkvox] [nvarchar](120) NULL,
	[tipo_monitoreo] [nvarchar](80) NULL,
	[id_area] [int] NOT NULL,
	[id_cola] [int] NOT NULL,
	[id_medio] [int] NULL,
	[link_evidencia] [nvarchar](400) NULL,
	[descripcion_final] [nvarchar](max) NOT NULL,
	[puntaje_obtenido] [decimal](10, 2) NOT NULL,
	[puntaje_posible] [decimal](10, 2) NOT NULL,
	[porcentaje_resultado] [decimal](6, 2) NOT NULL,
	[estado_final] [nvarchar](10) NOT NULL,
	[disparo_critico] [bit] NOT NULL,
	[disparo_impulsor] [bit] NOT NULL,
	[es_ultima_version] [bit] NULL,
	[calificacion] [decimal](5, 2) NULL,
	[id_supervisor] [int] NULL,
	[fecha_registro] [datetime] NULL,
	[ultima_modificacion] [datetime] NULL,
	[comentario_auditoria] [nvarchar](max) NULL,
	[fecha_modificacion] [datetime2](7) NULL,
	[usuario_anula] [int] NULL,
	[id_agente] [int] NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MONV_ORIG_VER] UNIQUE NONCLUSTERED 
(
	[id_origen] ASC,
	[numero_version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONITOREO_DETALLE]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONITOREO_DETALLE](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_version] [int] NOT NULL,
	[id_pregunta] [int] NOT NULL,
	[respuesta] [nvarchar](10) NOT NULL,
	[peso_snapshot] [decimal](10, 2) NOT NULL,
	[tipo_regla_snapshot] [nvarchar](12) NOT NULL,
	[puntaje_asignado] [decimal](10, 2) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MOND_VER_PREG] UNIQUE NONCLUSTERED 
(
	[id_version] ASC,
	[id_pregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[correo_corporativo] [nvarchar](150) NOT NULL,
	[nombre_completo] [nvarchar](150) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](0) NOT NULL,
	[token_recuperacion] [nvarchar](255) NULL,
	[expiracion_token] [datetime] NULL,
	[debe_cambiar_password] [bit] NULL,
	[id_rol] [int] NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
	[id_area] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo_corporativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGENTES]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENTES](
	[id_agente_int] [int] IDENTITY(1,1) NOT NULL,
	[codigo_personal] [nvarchar](100) NULL,
	[nombre_agente] [nvarchar](250) NOT NULL,
	[id_area] [int] NOT NULL,
	[estado] [bit] NULL,
	[fecha_registro] [datetime] NULL,
	[id_cola] [int] NULL,
	[fecha_activacion] [datetime2](0) NOT NULL,
	[fecha_fin] [datetime2](0) NULL,
	[id_supervisor_usuario] [int] NULL,
	[id_sucursal] [int] NULL,
	[email] [nvarchar](255) NULL,
	[celular] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_agente_int] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_DASHBOARD_QA_FULL]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[VW_DASHBOARD_QA_FULL] AS
SELECT 
    ----------------------------------------------------------------
    -- 1. DIMENSIONES Y FILTROS (Quién, Cuándo, Dónde)
    ----------------------------------------------------------------
    V.id_version AS [ID_Monitoreo],
    CAST(O.fecha_creacion AS DATE) AS [Fecha],
    YEAR(O.fecha_creacion) AS [Anio],
    DATENAME(MONTH, O.fecha_creacion) AS [Mes],
    DATEPART(HOUR, O.fecha_creacion) AS [Hora],
    
    C.nombre_cola AS [Cola],
    A.nombre_agente AS [Agente],
    U.nombre_completo AS [Auditor],
    
    ----------------------------------------------------------------
    -- 2. INFORMACIÓN CUALITATIVA (Contexto)
    ----------------------------------------------------------------
    -- Comentario escrito por el auditor al final
    ISNULL(O.descripcion_final, 'Sin observaciones') AS [Observacion_General],
    -- URL de la grabación (Configurar como "URL Web" en Power BI)
    O.link_evidencia AS [Link_Grabacion],

    ----------------------------------------------------------------
    -- 3. KPIs GLOBALES (Notas y Estados)
    ----------------------------------------------------------------
    V.porcentaje_resultado AS [Nota_Final],
    V.estado_final AS [Estado], -- APROBADO / REPROBADO
    
    -- Banderas numéricas para contar fácil en los gráficos
    CASE WHEN V.estado_final = 'APROBADO' THEN 1 ELSE 0 END AS [Es_Aprobado],
    CASE WHEN V.estado_final = 'REPROBADO' THEN 1 ELSE 0 END AS [Es_Reprobado],
    
    ----------------------------------------------------------------
    -- 4. DETALLE DE PREGUNTAS Y CATEGORÍAS
    ----------------------------------------------------------------
    P.pregunta AS [Pregunta_Texto],
    
    -- Mapeo de Secciones (Puedes ajustar los IDs según tu realidad)
    CASE 
        WHEN P.id_seccion = 1 THEN 'SALUDO / DESPEDIDA'
        WHEN P.id_seccion = 2 THEN 'PROCESO DE INDAGACIÓN'
        WHEN P.id_seccion = 3 THEN 'PLATAFORMA / HERRAMIENTAS'
        WHEN P.id_seccion = 4 THEN 'CIERRE DE VENTA'
        ELSE 'HABILIDADES BLANDAS'
    END AS [Seccion_Tipo],

    -- CATEGORÍA PEC (Traída desde PONDERACION como pediste)
    -- Ejemplo: PEC-NEG, PEC-CUM, ENC-UF
    ISNULL(PON.GESTION, 'SIN CATEGORIA') AS [Clasificacion_PEC], 
    
    -- PESO REAL (Puntos que valía esa pregunta en ese momento)
    PON.peso AS [Peso_Ponderacion], 
    
    ----------------------------------------------------------------
    -- 5. RESULTADOS ESPECÍFICOS (Para Gráficas de Errores)
    ----------------------------------------------------------------
    D.respuesta AS [Respuesta_Dada], -- SI, NO, N/A
    D.puntaje_asignado AS [Puntos_Ganados],
    
    -- CONTADOR DE ERRORES INTELIGENTE
    -- Si respondió NO, marcamos 1. Si es SI o N/A, marcamos 0.
    -- Esto permite sumar la columna para saber "Cantidad de Fallos"
    CASE WHEN D.respuesta = 'NO' THEN 1 ELSE 0 END AS [Conteo_Errores]

FROM MONITOREO_DETALLE D
    INNER JOIN MONITOREO_VERSION V ON D.id_version = V.id_version
    INNER JOIN MONITOREO_ORIGEN O ON V.id_origen = O.id_origen
    INNER JOIN COLAS C ON V.id_cola = C.id_cola
    INNER JOIN PREGUNTAS P ON D.id_pregunta = P.id_pregunta
    
    -- JOIN CON PERSONAS (Nombres reales)
    INNER JOIN AGENTES A ON O.id_agente = A.id_agente_int
    INNER JOIN USUARIOS U ON O.creado_por = U.id_usuario
    
    -- JOIN CON PONDERACION (Para sacar Peso y Gestión PEC)
    INNER JOIN PONDERACION PON 
        ON V.id_cola = PON.id_cola 
        AND D.id_pregunta = PON.id_pregunta
WHERE 
    PON.activo = 1; -- Aseguramos usar la configuración activa
GO
/****** Object:  Table [dbo].[HISTORIAL_ESTADO_AGENTE]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_ESTADO_AGENTE](
	[id_historial] [int] IDENTITY(1,1) NOT NULL,
	[id_agente] [nvarchar](50) NOT NULL,
	[estado] [nvarchar](10) NOT NULL,
	[motivo] [nvarchar](150) NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[cambiado_por] [int] NULL,
	[fecha_cambio] [datetime2](0) NOT NULL,
	[fecha_evento] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDIOS_ATENCION]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDIOS_ATENCION](
	[id_medio] [int] IDENTITY(1,1) NOT NULL,
	[nombre_medio] [nvarchar](100) NULL,
	[fecha_activacion] [datetime2](0) NOT NULL,
	[fecha_fin] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METAS_CALIDAD]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METAS_CALIDAD](
	[id_meta] [int] IDENTITY(1,1) NOT NULL,
	[anio] [int] NULL,
	[mes] [int] NULL,
	[porcentaje_meta] [decimal](5, 2) NULL,
	[id_area] [int] NULL,
	[fecha_activacion] [datetime2](0) NOT NULL,
	[fecha_fin] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_meta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONITOREO_BLOQUEOS]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONITOREO_BLOQUEOS](
	[id_bloqueo] [int] IDENTITY(1,1) NOT NULL,
	[fecha_registro] [datetime2](0) NOT NULL,
	[creado_por] [int] NULL,
	[id_area] [int] NULL,
	[id_cola] [int] NULL,
	[id_medio] [int] NULL,
	[id_agente] [nvarchar](50) NULL,
	[numero_contacto] [nvarchar](60) NULL,
	[numero_contrato] [nvarchar](60) NULL,
	[id_interaccion] [nvarchar](120) NULL,
	[motivo_wolkvox] [nvarchar](200) NULL,
	[tipo_bloqueo] [nvarchar](50) NOT NULL,
	[mensaje] [nvarchar](4000) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bloqueo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANTILLA_REGLAS]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANTILLA_REGLAS](
	[id_regla] [int] IDENTITY(1,1) NOT NULL,
	[id_cola] [int] NOT NULL,
	[id_pregunta] [int] NOT NULL,
	[peso] [decimal](10, 2) NOT NULL,
	[tipo_regla] [nvarchar](12) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[fecha_activacion] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_regla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PLR_COLA_PREG_VIG] UNIQUE NONCLUSTERED 
(
	[id_cola] ASC,
	[id_pregunta] ASC,
	[fecha_inicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [nvarchar](150) NOT NULL,
	[fecha_activacion] [datetime2](0) NOT NULL,
	[fecha_fin] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSALES]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSALES](
	[id_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[nombre_sucursal] [nvarchar](100) NOT NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UMBRAL_APROBACION]    Script Date: 26/1/2026 10:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UMBRAL_APROBACION](
	[id_umbral] [int] IDENTITY(1,1) NOT NULL,
	[id_area] [int] NULL,
	[id_cola] [int] NULL,
	[porcentaje_minimo] [decimal](6, 2) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_activacion] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_umbral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGENTES] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[AGENTES] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[AGENTES] ADD  CONSTRAINT [DF_AGENTES_fecha_activacion]  DEFAULT (sysdatetime()) FOR [fecha_activacion]
GO
ALTER TABLE [dbo].[AREAS] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[AREAS] ADD  CONSTRAINT [DF_AREAS_fecha_activacion]  DEFAULT (sysdatetime()) FOR [fecha_activacion]
GO
ALTER TABLE [dbo].[COLAS] ADD  CONSTRAINT [DF_COLAS_fecha_activacion]  DEFAULT (sysdatetime()) FOR [fecha_activacion]
GO
ALTER TABLE [dbo].[HISTORIAL_ESTADO_AGENTE] ADD  CONSTRAINT [DF_HIST_AG_FECHA]  DEFAULT (sysdatetime()) FOR [fecha_cambio]
GO
ALTER TABLE [dbo].[HISTORIAL_ESTADO_AGENTE] ADD  CONSTRAINT [DF_HIST_AGENTE_fecha_evento]  DEFAULT (sysdatetime()) FOR [fecha_evento]
GO
ALTER TABLE [dbo].[MEDIOS_ATENCION] ADD  CONSTRAINT [DF_MEDIOS_fecha_activacion]  DEFAULT (sysdatetime()) FOR [fecha_activacion]
GO
ALTER TABLE [dbo].[METAS_CALIDAD] ADD  CONSTRAINT [DF_METAS_fecha_activacion]  DEFAULT (sysdatetime()) FOR [fecha_activacion]
GO
ALTER TABLE [dbo].[MONITOREO_BLOQUEOS] ADD  DEFAULT (sysdatetime()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[MONITOREO_BLOQUEOS] ADD  CONSTRAINT [DF_MON_BLOQ_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[MONITOREO_DETALLE] ADD  CONSTRAINT [DF_MON_DET_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[MONITOREO_ORIGEN] ADD  CONSTRAINT [DF_MON_ORIG_FECHA]  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[MONITOREO_ORIGEN] ADD  CONSTRAINT [DF_MON_ORI_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[MONITOREO_VERSION] ADD  CONSTRAINT [DF_MONV_CRIT]  DEFAULT ((0)) FOR [disparo_critico]
GO
ALTER TABLE [dbo].[MONITOREO_VERSION] ADD  CONSTRAINT [DF_MONV_IMP]  DEFAULT ((0)) FOR [disparo_impulsor]
GO
ALTER TABLE [dbo].[MONITOREO_VERSION] ADD  DEFAULT ((1)) FOR [es_ultima_version]
GO
ALTER TABLE [dbo].[MONITOREO_VERSION] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[MONITOREO_VERSION] ADD  CONSTRAINT [DF_MON_VER_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[PLANTILLA_REGLAS] ADD  CONSTRAINT [DF_PLANTREG_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[PLANTILLA_REGLAS] ADD  CONSTRAINT [DF_PLANTILLA_fecha_activacion]  DEFAULT (sysdatetime()) FOR [fecha_activacion]
GO
ALTER TABLE [dbo].[PREGUNTAS] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[PREGUNTAS] ADD  CONSTRAINT [DF_PREGUNTAS_fecha_activacion]  DEFAULT (sysdatetime()) FOR [fecha_activacion]
GO
ALTER TABLE [dbo].[ROLES] ADD  CONSTRAINT [DF_ROLES_fecha_activacion]  DEFAULT (sysdatetime()) FOR [fecha_activacion]
GO
ALTER TABLE [dbo].[SECCIONES] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[SUCURSALES] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[UMBRAL_APROBACION] ADD  CONSTRAINT [DF_UMBRAL_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[UMBRAL_APROBACION] ADD  CONSTRAINT [DF_UMBRAL_fecha_activacion]  DEFAULT (sysdatetime()) FOR [fecha_activacion]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF_USUARIOS_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF_USUARIOS_fecha]  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT ((1)) FOR [debe_cambiar_password]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF_USUARIOS_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[AGENTES]  WITH CHECK ADD  CONSTRAINT [FK_Agente_Area] FOREIGN KEY([id_area])
REFERENCES [dbo].[AREAS] ([id_area])
GO
ALTER TABLE [dbo].[AGENTES] CHECK CONSTRAINT [FK_Agente_Area]
GO
ALTER TABLE [dbo].[AGENTES]  WITH CHECK ADD  CONSTRAINT [FK_Agente_Supervisor] FOREIGN KEY([id_supervisor_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[AGENTES] CHECK CONSTRAINT [FK_Agente_Supervisor]
GO
ALTER TABLE [dbo].[AGENTES]  WITH CHECK ADD  CONSTRAINT [FK_Agentes_Areas] FOREIGN KEY([id_area])
REFERENCES [dbo].[AREAS] ([id_area])
GO
ALTER TABLE [dbo].[AGENTES] CHECK CONSTRAINT [FK_Agentes_Areas]
GO
ALTER TABLE [dbo].[AGENTES]  WITH CHECK ADD  CONSTRAINT [FK_Agentes_Colas] FOREIGN KEY([id_cola])
REFERENCES [dbo].[COLAS] ([id_cola])
GO
ALTER TABLE [dbo].[AGENTES] CHECK CONSTRAINT [FK_Agentes_Colas]
GO
ALTER TABLE [dbo].[AGENTES]  WITH CHECK ADD  CONSTRAINT [FK_Agentes_Sucursales] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[SUCURSALES] ([id_sucursal])
GO
ALTER TABLE [dbo].[AGENTES] CHECK CONSTRAINT [FK_Agentes_Sucursales]
GO
ALTER TABLE [dbo].[HISTORIAL_ESTADO_AGENTE]  WITH CHECK ADD  CONSTRAINT [FK_HIST_USUARIO] FOREIGN KEY([cambiado_por])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[HISTORIAL_ESTADO_AGENTE] CHECK CONSTRAINT [FK_HIST_USUARIO]
GO
ALTER TABLE [dbo].[MONITOREO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_DET_PREG] FOREIGN KEY([id_pregunta])
REFERENCES [dbo].[PREGUNTAS] ([id_pregunta])
GO
ALTER TABLE [dbo].[MONITOREO_DETALLE] CHECK CONSTRAINT [FK_DET_PREG]
GO
ALTER TABLE [dbo].[MONITOREO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_MOND_VER] FOREIGN KEY([id_version])
REFERENCES [dbo].[MONITOREO_VERSION] ([id_version])
GO
ALTER TABLE [dbo].[MONITOREO_DETALLE] CHECK CONSTRAINT [FK_MOND_VER]
GO
ALTER TABLE [dbo].[MONITOREO_ORIGEN]  WITH CHECK ADD  CONSTRAINT [FK_MON_ORIG_USUARIOS] FOREIGN KEY([creado_por])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[MONITOREO_ORIGEN] CHECK CONSTRAINT [FK_MON_ORIG_USUARIOS]
GO
ALTER TABLE [dbo].[MONITOREO_ORIGEN]  WITH CHECK ADD  CONSTRAINT [FK_MONITOREO_AGENTES] FOREIGN KEY([id_agente])
REFERENCES [dbo].[AGENTES] ([id_agente_int])
GO
ALTER TABLE [dbo].[MONITOREO_ORIGEN] CHECK CONSTRAINT [FK_MONITOREO_AGENTES]
GO
ALTER TABLE [dbo].[MONITOREO_VERSION]  WITH CHECK ADD FOREIGN KEY([id_supervisor])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[MONITOREO_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_MONV_AGEN] FOREIGN KEY([id_agente])
REFERENCES [dbo].[AGENTES] ([id_agente_int])
GO
ALTER TABLE [dbo].[MONITOREO_VERSION] CHECK CONSTRAINT [FK_MONV_AGEN]
GO
ALTER TABLE [dbo].[MONITOREO_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_MONV_CORR_USR] FOREIGN KEY([corregido_por])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[MONITOREO_VERSION] CHECK CONSTRAINT [FK_MONV_CORR_USR]
GO
ALTER TABLE [dbo].[MONITOREO_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_MONV_ORIG] FOREIGN KEY([id_origen])
REFERENCES [dbo].[MONITOREO_ORIGEN] ([id_origen])
GO
ALTER TABLE [dbo].[MONITOREO_VERSION] CHECK CONSTRAINT [FK_MONV_ORIG]
GO
ALTER TABLE [dbo].[PONDERACION]  WITH CHECK ADD  CONSTRAINT [FK_Ponderacion_Preguntas] FOREIGN KEY([ID_PREGUNTA])
REFERENCES [dbo].[PREGUNTAS] ([id_pregunta])
GO
ALTER TABLE [dbo].[PONDERACION] CHECK CONSTRAINT [FK_Ponderacion_Preguntas]
GO
ALTER TABLE [dbo].[PREGUNTAS]  WITH CHECK ADD  CONSTRAINT [FK_Preguntas_Areas] FOREIGN KEY([id_area])
REFERENCES [dbo].[AREAS] ([id_area])
GO
ALTER TABLE [dbo].[PREGUNTAS] CHECK CONSTRAINT [FK_Preguntas_Areas]
GO
ALTER TABLE [dbo].[PREGUNTAS]  WITH CHECK ADD  CONSTRAINT [FK_Preguntas_Colas] FOREIGN KEY([id_cola])
REFERENCES [dbo].[COLAS] ([id_cola])
GO
ALTER TABLE [dbo].[PREGUNTAS] CHECK CONSTRAINT [FK_Preguntas_Colas]
GO
ALTER TABLE [dbo].[SECCIONES]  WITH CHECK ADD  CONSTRAINT [FK_Secciones_Areas] FOREIGN KEY([id_area])
REFERENCES [dbo].[AREAS] ([id_area])
GO
ALTER TABLE [dbo].[SECCIONES] CHECK CONSTRAINT [FK_Secciones_Areas]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Area_Directo] FOREIGN KEY([id_area])
REFERENCES [dbo].[AREAS] ([id_area])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_Usuario_Area_Directo]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[ROLES] ([id_rol])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[HISTORIAL_ESTADO_AGENTE]  WITH CHECK ADD  CONSTRAINT [CK_HIST_ESTADO] CHECK  (([estado]='INACTIVO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[HISTORIAL_ESTADO_AGENTE] CHECK CONSTRAINT [CK_HIST_ESTADO]
GO
ALTER TABLE [dbo].[MONITOREO_DETALLE]  WITH CHECK ADD  CONSTRAINT [CK_MOND_RESP] CHECK  (([respuesta]='NO_APLICA' OR [respuesta]='NO' OR [respuesta]='SI'))
GO
ALTER TABLE [dbo].[MONITOREO_DETALLE] CHECK CONSTRAINT [CK_MOND_RESP]
GO
ALTER TABLE [dbo].[MONITOREO_DETALLE]  WITH CHECK ADD  CONSTRAINT [CK_MOND_TIPO] CHECK  (([tipo_regla_snapshot]='IMPULSOR' OR [tipo_regla_snapshot]='CRITICO' OR [tipo_regla_snapshot]='NORMAL'))
GO
ALTER TABLE [dbo].[MONITOREO_DETALLE] CHECK CONSTRAINT [CK_MOND_TIPO]
GO
ALTER TABLE [dbo].[MONITOREO_VERSION]  WITH CHECK ADD  CONSTRAINT [CK_MONV_EST_FIN] CHECK  (([estado_final]='ANULADO' OR [estado_final]='REPROBADO' OR [estado_final]='APROBADO'))
GO
ALTER TABLE [dbo].[MONITOREO_VERSION] CHECK CONSTRAINT [CK_MONV_EST_FIN]
GO
ALTER TABLE [dbo].[MONITOREO_VERSION]  WITH CHECK ADD  CONSTRAINT [CK_MONV_EST_VER] CHECK  (([estado_version]='ELIMINADO' OR [estado_version]='ANULADO' OR [estado_version]='REGISTRADO'))
GO
ALTER TABLE [dbo].[MONITOREO_VERSION] CHECK CONSTRAINT [CK_MONV_EST_VER]
GO
ALTER TABLE [dbo].[PLANTILLA_REGLAS]  WITH CHECK ADD  CONSTRAINT [CK_PLR_TIPO] CHECK  (([tipo_regla]='IMPULSOR' OR [tipo_regla]='CRITICO' OR [tipo_regla]='NORMAL'))
GO
ALTER TABLE [dbo].[PLANTILLA_REGLAS] CHECK CONSTRAINT [CK_PLR_TIPO]
GO
ALTER TABLE [dbo].[UMBRAL_APROBACION]  WITH CHECK ADD  CONSTRAINT [CK_UMBRAL_FECHAS] CHECK  (([fecha_inicio]<=[fecha_fin]))
GO
ALTER TABLE [dbo].[UMBRAL_APROBACION] CHECK CONSTRAINT [CK_UMBRAL_FECHAS]
GO
ALTER TABLE [dbo].[UMBRAL_APROBACION]  WITH CHECK ADD  CONSTRAINT [CK_UMBRAL_PORC] CHECK  (([porcentaje_minimo]>=(0) AND [porcentaje_minimo]<=(100)))
GO
ALTER TABLE [dbo].[UMBRAL_APROBACION] CHECK CONSTRAINT [CK_UMBRAL_PORC]
GO
/****** Object:  StoredProcedure [dbo].[PR_ACTUALIZAR_INFO_MONITOREO]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[PR_ACTUALIZAR_INFO_MONITOREO]
    @IdVersion INT,
    @NuevoLink NVARCHAR(MAX),
    @NuevaObservacion NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Buscamos el ID Origen basado en la versión
        DECLARE @IdOrigen INT;
        SELECT @IdOrigen = id_origen FROM dbo.MONITOREO_VERSION WHERE id_version = @IdVersion;

        IF @IdOrigen IS NULL
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 'ERROR' AS resultado, 'No se encontró el monitoreo especificado.' AS mensaje;
            RETURN;
        END

        -- 2. Actualizamos la tabla ORIGEN
        UPDATE dbo.MONITOREO_ORIGEN
        SET link_evidencia = @NuevoLink,
            descripcion_final = @NuevaObservacion,
            updated_at = GETDATE() -- Actualizamos la fecha de modificación
        WHERE id_origen = @IdOrigen;

        COMMIT TRANSACTION;
        SELECT 'OK' AS resultado, 'Información actualizada correctamente.' AS mensaje;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 'ERROR' AS resultado, ERROR_MESSAGE() AS mensaje;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[PR_ANULAR_MONITOREO]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[PR_ANULAR_MONITOREO]
    @IdVersion INT,
    @MotivoAnulacion VARCHAR(255) = NULL 
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- 1. Verificamos que el monitoreo exista
        IF NOT EXISTS (SELECT 1 FROM dbo.MONITOREO_VERSION WHERE id_version = @IdVersion)
        BEGIN
            SELECT 'ERROR' AS resultado, 'El monitoreo no existe.' AS mensaje;
            RETURN;
        END

        -- 2. Aplicamos la anulación (Usando 'ELIMINADO' para cumplir la regla)
        UPDATE dbo.MONITOREO_VERSION
        SET estado_version = 'ELIMINADO', -- <--- CAMBIO CLAVE AQUÍ
            updated_at = GETDATE()
        WHERE id_version = @IdVersion;

        SELECT 'OK' AS resultado, 'El monitoreo ha sido eliminado correctamente.' AS mensaje;
    END TRY
    BEGIN CATCH
        SELECT 'ERROR' AS resultado, ERROR_MESSAGE() AS mensaje;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[PR_CREAR_MONITOREO]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------------------------
-- 2. CREACIÓN: La versión DEFINITIVA y BLINDADA
-------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[PR_CREAR_MONITOREO]
    @IdAgente INT,
    @IdCola INT,
    @IdAuditor INT,
    @IdMedio INT, -- 1=Teléfono, 2=Chat, etc.
    @JsonRespuestas NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- VARIABLES
    DECLARE @IdOrigen INT;
    DECLARE @IdVersion INT;
    DECLARE @NotaFinal DECIMAL(5,2);
    DECLARE @PuntosPosibles DECIMAL(10,2) = 0;
    DECLARE @PuntosObtenidos DECIMAL(10,2) = 0;
    DECLARE @UmbralMinimo DECIMAL(5,2) = 0.00;

    -- BANDERAS Y ESTADOS
    DECLARE @EsCritico BIT = 0;
    DECLARE @EsImpulsor BIT = 0;
    DECLARE @EtiquetaFinal NVARCHAR(50); -- 'APROBADO' / 'REPROBADO'

    BEGIN TRY
        BEGIN TRANSACTION;

        -- A. BUSCAR EL UMBRAL (Tu regla del 60%)
        SELECT TOP 1 @UmbralMinimo = porcentaje_minimo 
        FROM UMBRAL_APROBACION 
        WHERE id_cola = @IdCola AND activo = 1;

        SET @UmbralMinimo = ISNULL(@UmbralMinimo, 0.00);

        -- B. CREAR ENCABEZADO
        INSERT INTO MONITOREO_ORIGEN (
            id_agente, id_cola, creado_por, id_medio, fecha_creacion, created_at
        ) VALUES (
            @IdAgente, @IdCola, @IdAuditor, @IdMedio, GETDATE(), SYSDATETIME()
        );
        SET @IdOrigen = SCOPE_IDENTITY();

        -- C. CALCULAR PUNTOS (Usando tu tabla PONDERACION)
        SELECT 
            J.id_pregunta,
            J.respuesta,
            PON.PESO,
            PRE.TIPO AS ETIQUETA_REGLA 
        INTO #CalculoTemporal
        FROM OPENJSON(@JsonRespuestas) 
        WITH (
            id_pregunta INT '$.id_pregunta',
            respuesta NVARCHAR(50) '$.respuesta'
        ) AS J
        INNER JOIN PONDERACION PON ON J.id_pregunta = PON.ID_PREGUNTA
        INNER JOIN PREGUNTAS PRE ON J.id_pregunta = PRE.id_pregunta 
        WHERE PON.ID_COLA = @IdCola AND PON.ACTIVO = 1;

        -- D. APLICAR REGLAS DE NEGOCIO
        
        -- 1. MUERTE SÚBITA (CRÍTICO + NO)
        IF EXISTS (SELECT 1 FROM #CalculoTemporal WHERE ETIQUETA_REGLA = 'CRITICO' AND respuesta = 'NO')
        BEGIN
            SET @EsCritico = 1;
            SET @NotaFinal = 0.00;
            SET @EtiquetaFinal = 'REPROBADO'; 
            
            SELECT @PuntosPosibles = SUM(PESO) FROM #CalculoTemporal WHERE respuesta <> 'N/A';
            SELECT @PuntosObtenidos = SUM(PESO) FROM #CalculoTemporal WHERE respuesta = 'SI';
        END
        
        -- 2. PREMIO (IMPULSOR + SI)
        ELSE IF EXISTS (SELECT 1 FROM #CalculoTemporal WHERE ETIQUETA_REGLA = 'IMPULSOR' AND respuesta = 'SI')
        BEGIN
            SET @EsImpulsor = 1;
            SET @NotaFinal = 100.00;
            SET @EtiquetaFinal = 'APROBADO'; 
            
            SELECT @PuntosPosibles = SUM(PESO) FROM #CalculoTemporal WHERE respuesta <> 'N/A';
            SELECT @PuntosObtenidos = SUM(PESO) FROM #CalculoTemporal WHERE respuesta = 'SI';
        END
        
        -- 3. CÁLCULO NORMAL (Usando tu Umbral del 60%)
        ELSE
        BEGIN
            SELECT @PuntosPosibles = SUM(PESO) FROM #CalculoTemporal WHERE respuesta <> 'N/A';
            SELECT @PuntosObtenidos = SUM(PESO) FROM #CalculoTemporal WHERE respuesta = 'SI';

            IF @PuntosPosibles > 0
                SET @NotaFinal = (@PuntosObtenidos / @PuntosPosibles) * 100;
            ELSE
                SET @NotaFinal = 0;

            -- VALIDACIÓN CONTRA EL UMBRAL
            IF @NotaFinal >= @UmbralMinimo
                SET @EtiquetaFinal = 'APROBADO';
            ELSE
                SET @EtiquetaFinal = 'REPROBADO';
        END

        -- E. GUARDAR RESULTADO (VERSIÓN)
        INSERT INTO MONITOREO_VERSION (
            id_origen, numero_version, 
            porcentaje_resultado, puntaje_obtenido, puntaje_posible,
            disparo_critico, disparo_impulsor, 
            estado_final,   -- 'APROBADO' / 'REPROBADO'
            estado_version, -- 'REGISTRADO'
            id_area, id_cola, fecha_registro, created_at, es_ultima_version,
            
            -- FECHAS AUTOMÁTICAS (Para evitar NULLs)
            hora_inicio, hora_fin, duracion_segundos, descripcion_final
        ) VALUES (
            @IdOrigen, 1, 
            @NotaFinal, @PuntosObtenidos, @PuntosPosibles,
            @EsCritico, @EsImpulsor, 
            @EtiquetaFinal, 
            'REGISTRADO', 
            (SELECT TOP 1 id_area FROM COLAS WHERE id_cola = @IdCola),
            @IdCola, GETDATE(), SYSDATETIME(), 1,
            GETDATE(), GETDATE(), 0, '' 
        );
        SET @IdVersion = SCOPE_IDENTITY();

        -- F. GUARDAR DETALLE
        INSERT INTO MONITOREO_DETALLE (
            id_version, id_pregunta, respuesta, 
            peso_snapshot, tipo_regla_snapshot, puntaje_asignado, created_at
        )
        SELECT 
            @IdVersion, id_pregunta, respuesta,
            PESO, ETIQUETA_REGLA,
            CASE WHEN respuesta = 'SI' THEN PESO ELSE 0 END,
            SYSDATETIME()
        FROM #CalculoTemporal;

        DROP TABLE #CalculoTemporal;
        COMMIT TRANSACTION;
        
        PRINT '¡Monitoreo procesado correctamente!';

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[PR_LISTAR_MONITOREOS]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[PR_LISTAR_MONITOREOS]
    @FechaInicio DATE = NULL,
    @FechaFin DATE = NULL,
    @IdAgente INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Si no envían fechas, usamos el mes actual por defecto
    IF @FechaInicio IS NULL SET @FechaInicio = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
    IF @FechaFin IS NULL SET @FechaFin = EOMONTH(GETDATE());

    SELECT 
        V.id_version AS [ID],
        O.fecha_creacion AS [Fecha],
        A.nombre_agente AS [Agente],
        C.nombre_cola AS [Campaña],
        U.nombre_completo AS [Auditor],
        V.porcentaje_resultado AS [Nota],
        V.estado_final AS [Estado],     -- APROBADO / REPROBADO
        V.estado_version AS [Estatus],  -- REGISTRADO / ANULADO
        O.link_evidencia AS [Link]
    FROM dbo.MONITOREO_VERSION V
    INNER JOIN dbo.MONITOREO_ORIGEN O ON V.id_origen = O.id_origen
    INNER JOIN dbo.COLAS C ON V.id_cola = C.id_cola
    INNER JOIN dbo.AGENTES A ON O.id_agente = A.id_agente_int
    INNER JOIN dbo.USUARIOS U ON O.creado_por = U.id_usuario
    WHERE 
        CAST(O.fecha_creacion AS DATE) BETWEEN @FechaInicio AND @FechaFin
        AND (@IdAgente IS NULL OR O.id_agente = @IdAgente)
        AND V.estado_version <> 'ELIMINADO' -- Filtramos los borrados
    ORDER BY V.id_version DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Adm_ActualizarAgente]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. SP ACTUALIZAR (Update)
-- También sirve para "Eliminar" (poniendo estado = 0)
CREATE   PROCEDURE [dbo].[sp_Adm_ActualizarAgente]
    @id_agente       INT,
    @codigo_personal NVARCHAR(100),
    @nombre_agente   NVARCHAR(500),
    @email           NVARCHAR(255) = NULL,
    @celular         NVARCHAR(50)  = NULL,
    @id_area         INT,
    @id_cola         INT,
    @id_sucursal     INT = NULL, -- Puede volverse NULL si le quitan la sede
    @id_supervisor   INT = NULL,
    @estado          BIT -- 1 = Activo, 0 = Inactivo
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE dbo.AGENTES
        SET codigo_personal       = @codigo_personal,
            nombre_agente         = UPPER(@nombre_agente),
            email                 = LOWER(@email),
            celular               = @celular,
            id_area               = @id_area,
            id_cola               = @id_cola,
            id_sucursal           = @id_sucursal,
            id_supervisor_usuario = @id_supervisor,
            estado                = @estado,
            fecha_fin             = CASE WHEN @estado = 0 THEN GETDATE() ELSE NULL END
        WHERE id_agente_int = @id_agente;
        
        PRINT '>> Agente actualizado.';
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Adm_CrearAgente]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. SP CREAR (Create)
-- Debe recibir los nuevos campos, pero permitir que sean NULL (vacíos)
CREATE   PROCEDURE [dbo].[sp_Adm_CrearAgente]
    @codigo_personal NVARCHAR(100),
    @nombre_agente   NVARCHAR(500),
    @email           NVARCHAR(255) = NULL, -- Opcional
    @celular         NVARCHAR(50)  = NULL, -- Opcional
    @id_area         INT,
    @id_cola         INT,                  -- Puede ser una cola específica o el "Pool"
    @id_sucursal     INT = NULL,           -- Opcional (Para los que no tienen sede fija)
    @id_supervisor   INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Insertamos. Si no mandan email/celular/sucursal, se guarda NULL.
        INSERT INTO dbo.AGENTES (
            codigo_personal, nombre_agente, email, celular,
            id_area, id_cola, id_sucursal, id_supervisor_usuario, 
            estado, fecha_registro, fecha_activacion
        )
        VALUES (
            @codigo_personal, UPPER(@nombre_agente), LOWER(@email), @celular,
            @id_area, @id_cola, @id_sucursal, @id_supervisor, 
            1, GETDATE(), SYSDATETIME() -- Estado 1 (Activo) por defecto
        );
        PRINT '>> Agente creado correctamente.';
    END TRY
    BEGIN CATCH
        THROW; -- Si falla, le avisa a PHP
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Adm_LeerAgentes]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. SP LEER (Read)
-- Debe devolver las columnas nuevas para que se vean en la pantalla
CREATE   PROCEDURE [dbo].[sp_Adm_LeerAgentes]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        A.id_agente_int,
        ISNULL(A.codigo_personal, 'S/N') AS codigo_personal,
        A.nombre_agente,
        
        -- Datos de Contacto (Si es null, mostramos vacío)
        ISNULL(A.email, '') AS email,
        ISNULL(A.celular, '') AS celular,
        
        -- Ubicación y Jerarquía
        AR.nombre_area,
        C.nombre_cola, -- Aquí saldrá "POOL ATENCION AL CLIENTE" si aplica
        ISNULL(S.nombre_sucursal, '--- SIN ASIGNAR ---') AS nombre_sucursal,
        ISNULL(U.nombre_completo, '--- SIN SUPERVISOR ---') AS nombre_supervisor,
        
        -- IDs Ocultos (Vitales para que el botón "Editar" funcione en PHP)
        A.id_area,
        A.id_cola,
        A.id_sucursal,
        A.id_supervisor_usuario,
        
        -- Estado
        CASE WHEN A.estado = 1 THEN 'ACTIVO' ELSE 'INACTIVO' END AS estado_texto,
        A.estado,
        FORMAT(A.fecha_registro, 'yyyy-MM-dd') AS fecha_registro_fmt
        
    FROM dbo.AGENTES A
    INNER JOIN dbo.AREAS AR ON A.id_area = AR.id_area
    INNER JOIN dbo.COLAS C ON A.id_cola = C.id_cola
    LEFT JOIN dbo.SUCURSALES S ON A.id_sucursal = S.id_sucursal
    LEFT JOIN dbo.USUARIOS U ON A.id_supervisor_usuario = U.id_usuario
    ORDER BY A.estado DESC, AR.nombre_area ASC, A.nombre_agente ASC; 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Mant_AsignarPregunta]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Mant_AsignarPregunta]
    @id_cola        INT,
    @id_pregunta    INT,
    @peso           DECIMAL(10,2),
    @gestion        NVARCHAR(50), 
    @activo         BIT -- 1 = Asignar (Visible), 0 = Quitar (Oculta en esta campaña)
AS
BEGIN
    SET NOCOUNT ON;

    -- Usamos MERGE para manejar Insert o Update automáticamente
    MERGE dbo.PONDERACION AS TARGET
    USING (SELECT @id_cola, @id_pregunta) AS SOURCE (id_cola, id_pregunta)
    ON (TARGET.ID_COLA = SOURCE.id_cola AND TARGET.ID_PREGUNTA = SOURCE.id_pregunta)
    
    -- SI YA EXISTE LA RELACIÓN: Actualizamos el peso y si está activo
    WHEN MATCHED THEN
        UPDATE SET 
            PESO    = @peso,
            GESTION = @gestion,
            ACTIVO  = @activo -- Aquí aplicamos el borrado lógico para la campaña
            
    -- SI NO EXISTE: Creamos la relación nueva
    WHEN NOT MATCHED THEN
        INSERT (ID_COLA, ID_PREGUNTA, PESO, GESTION, ACTIVO, FECHA_INICIO)
        VALUES (@id_cola, @id_pregunta, @peso, @gestion, @activo, SYSDATETIME());

    PRINT '   [OK] Configuración guardada.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Mant_GuardarPregunta]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Mant_GuardarPregunta]
    @id_pregunta INT = 0, 
    @texto_pregunta NVARCHAR(MAX), 
    @id_seccion INT, 
    @tipo NVARCHAR(50), 
    @aspecto NVARCHAR(50), 
    @direccion NVARCHAR(50), 
    @id_cola INT = NULL, 
    @descripcion NVARCHAR(MAX) = NULL, 
    @estado BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @NewID INT;

    IF @id_pregunta = 0
    BEGIN
        -- Insertamos en PREGUNTAS
        INSERT INTO PREGUNTAS (pregunta, id_seccion, TIPO, ASPECTO, DIRECCION, descripcion, estado, fecha_activacion, id_area, id_cola)
        VALUES (@texto_pregunta, @id_seccion, @tipo, @aspecto, @direccion, @descripcion, 1, SYSDATETIME(), 
               (SELECT id_area FROM SECCIONES WHERE id_seccion = @id_seccion), @id_cola);
        
        SET @NewID = SCOPE_IDENTITY();

        -- Si mandamos una cola, creamos el registro en PONDERACION de una vez
        IF @id_cola IS NOT NULL
        BEGIN
            INSERT INTO PONDERACION (ID_COLA, ID_PREGUNTA, PESO, GESTION, ACTIVO, FECHA_INICIO)
            VALUES (@id_cola, @NewID, 0, 'PEC - UF', 1, SYSDATETIME());
        END
        
        SELECT @NewID AS ID_Generado; -- Para saber qué ID se creó
    END
    ELSE
    BEGIN
        UPDATE PREGUNTAS SET 
            pregunta=@texto_pregunta, id_seccion=@id_seccion, TIPO=@tipo, ASPECTO=@aspecto, 
            DIRECCION=@direccion, descripcion=@descripcion, estado=@estado 
        WHERE id_pregunta=@id_pregunta;
        
        SELECT @id_pregunta AS ID_Actualizado;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Mant_ListarColasCombo]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Mant_ListarColasCombo]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        id_cola,      -- El ID que usaremos para buscar las reglas
        nombre_cola   -- El nombre de la campaña
    FROM dbo.COLAS 
    WHERE fecha_fin IS NULL -- FILTRO DE SEGURIDAD: Solo campañas activas
    ORDER BY nombre_cola ASC; -- Orden alfabético para facilitar la búsqueda
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Mant_ListarConfiguracionCola]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Mant_ListarConfiguracionCola]
    @id_cola INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Cruza el catálogo completo vs la configuración de la campaña seleccionada
    SELECT 
        -- Información de la Pregunta (Catálogo)
        P.id_pregunta,
        P.pregunta,
        S.nombre_seccion,
        
        -- Estado de la Configuración (¿Está asignada a esta campaña?)
        ISNULL(PON.ACTIVO, 0) AS esta_asignada, -- 1=Sí (Checkbox Checked), 0=No
        
        -- Valores de Configuración
        ISNULL(PON.PESO, 0.00) AS peso_asignado,
        ISNULL(PON.GESTION, 'PEC - UF') AS gestion_asignada, -- Valor por defecto si es nueva
        
        -- Datos extras para ordenar
        P.id_seccion
        
    FROM dbo.PREGUNTAS P
    LEFT JOIN dbo.SECCIONES S ON P.id_seccion = S.id_seccion
    -- JOIN específico filtrando por la cola que estamos editando
    LEFT JOIN dbo.PONDERACION PON ON P.id_pregunta = PON.ID_PREGUNTA AND PON.ID_COLA = @id_cola
    
    WHERE P.estado = 1 -- Solo mostramos preguntas vivas del catálogo global
    ORDER BY S.id_seccion, P.id_pregunta;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Mant_ListarPreguntas]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Mant_ListarPreguntas]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        P.id_pregunta,
        P.pregunta,
        S.nombre_seccion,
        A.nombre_area,
        C.nombre_cola,
        P.TIPO,
        P.ASPECTO,
        P.estado,
        P.id_seccion
    FROM dbo.PREGUNTAS P
    LEFT JOIN dbo.SECCIONES S ON P.id_seccion = S.id_seccion
    LEFT JOIN dbo.AREAS A ON P.id_area = A.id_area
    LEFT JOIN dbo.COLAS C ON P.id_cola = C.id_cola
    ORDER BY P.id_pregunta DESC; -- Lo más nuevo (como nuestra prueba 110) arriba
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Mant_ListarSeccionesCombo]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Mant_ListarSeccionesCombo]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        id_seccion,      -- Este es el valor que se guarda (value)
        nombre_seccion   -- Este es el texto que ve el usuario (label)
    FROM dbo.SECCIONES 
    WHERE estado = 1     -- FILTRO IMPORTANTE: Solo mostramos secciones activas
    ORDER BY id_seccion ASC; 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Seg_ActualizarUsuario]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. CREAR SP: ACTUALIZAR USUARIO (Edición y Desactivación)
CREATE PROCEDURE [dbo].[sp_Seg_ActualizarUsuario]
    @id_usuario         INT,
    @nombre_completo    NVARCHAR(100),
    @correo_corporativo NVARCHAR(255),
    @password           NVARCHAR(255) = NULL, -- Opcional
    @id_rol             INT,
    @id_area            INT = NULL,
    @activo             BIT                   -- 1 o 0
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validación: Que no use el correo de otro
    IF EXISTS (SELECT 1 FROM dbo.USUARIOS WHERE correo_corporativo = @correo_corporativo AND id_usuario <> @id_usuario)
    BEGIN
        THROW 51000, 'Error: El correo corporativo ya pertenece a otro usuario.', 1;
    END

    UPDATE dbo.USUARIOS
    SET nombre_completo    = UPPER(@nombre_completo),
        correo_corporativo = LOWER(@correo_corporativo),
        id_rol             = @id_rol,
        id_area            = @id_area,
        activo             = @activo,        -- Tu columna real
        updated_at         = SYSDATETIME(),  -- Auditoría
        
        -- Lógica inteligente de Password: Si es NULL, no se toca.
        password_hash      = ISNULL(@password, password_hash)
        
    WHERE id_usuario = @id_usuario;

    PRINT '>> Usuario actualizado correctamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Seg_CrearUsuario]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. CREAR SP: INSERTAR USUARIO (Adaptado a tu tabla real)
CREATE PROCEDURE [dbo].[sp_Seg_CrearUsuario]
    @nombre_completo    NVARCHAR(100),
    @correo_corporativo NVARCHAR(255),
    @password           NVARCHAR(255), -- PHP envía el hash o la clave
    @id_rol             INT,
    @id_area            INT = NULL     -- Puede ser NULL si es un Admin que no pertenece a un área
AS
BEGIN
    SET NOCOUNT ON;

    -- Validación: Correo único
    IF EXISTS (SELECT 1 FROM dbo.USUARIOS WHERE correo_corporativo = @correo_corporativo)
    BEGIN
        THROW 51000, 'Error: El correo corporativo ya está registrado.', 1;
    END

    -- Insertar usando TUS columnas exactas
    INSERT INTO dbo.USUARIOS (
        nombre_completo, 
        correo_corporativo, 
        password_hash,      -- Tu columna
        id_rol, 
        id_area,
        activo,             -- Tu columna (1 = Activo)
        fecha_creacion,     -- Tu columna
        created_at,         -- Tu columna de auditoría
        debe_cambiar_password
    )
    VALUES (
        UPPER(@nombre_completo), 
        LOWER(@correo_corporativo), 
        @password, 
        @id_rol, 
        @id_area,
        1,                  -- Nace activo
        SYSDATETIME(),
        SYSDATETIME(),      -- created_at igual a fecha_creacion
        0                   -- No forzamos cambio de clave por ahora
    );
    
    PRINT '>> Nuevo usuario registrado correctamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Seg_LeerUsuarios]    Script Date: 26/1/2026 10:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. CREAR SP: LEER USUARIOS (Para llenar la tabla en la Web)
CREATE PROCEDURE [dbo].[sp_Seg_LeerUsuarios]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        U.id_usuario,
        U.nombre_completo,
        U.correo_corporativo,
        '******' AS password_oculto, -- Seguridad
        R.nombre_rol,
        AR.nombre_area,              -- Para saber a qué area pertenece
        
        -- Estado legible
        CASE WHEN U.activo = 1 THEN 'ACTIVO' ELSE 'INACTIVO' END AS estado_texto,
        
        -- IDs y Datos crudos para edición
        U.activo,
        U.id_rol,
        U.id_area,
        FORMAT(U.fecha_creacion, 'yyyy-MM-dd') AS fecha_registro_fmt

    FROM dbo.USUARIOS U
    LEFT JOIN dbo.ROLES R ON U.id_rol = R.id_rol
    LEFT JOIN dbo.AREAS AR ON U.id_area = AR.id_area
    ORDER BY U.activo DESC, U.nombre_completo ASC;
END;
GO
